.bg {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/iStock-629285904.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu-link {
    font-size: 35px;
    font-family: "Verdana";
    text-decoration: none;
    padding-top: 20px;
    color: #cdcdcd;
}
.menu-link:hover {
    color: #7e9c85;
}
.blogger-name {
    color: #b1d6b9;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana;
}
.about-blogger {
    font-size: 25px;
    padding: 15px 0;
    color: #e6e6e6;
    font-family: "Verdana";
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-pic {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin: 90px 30px;
}
